.vscode
.vs
cpp-tuntiprojektit\.vs
cpp-tuntiprojektit\cpp-tuntiprojektit.sln
cpp-tuntiprojektit\cpp-tuntiprojektit.vcxproj
cpp-tuntiprojektit\cpp-tuntiprojektit.vcxproj.filters
cpp-tuntiprojektit\cpp-tuntiprojektit.vcxproj.user